<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017654581310-g3f4nc4hpqmu3g18fd46u0f6i24bgpe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017654581310-g3f4nc4hpqmu3g18fd46u0f6i24bgpe2</string>
	<key>API_KEY</key>
	<string>AIzaSyDrJGNFQ0wTF-lDviO3VnYmpky5UvkpUqk</string>
	<key>GCM_SENDER_ID</key>
	<string>1017654581310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samphillips.QADS-Cafe-and-Bar</string>
	<key>PROJECT_ID</key>
	<string>qads-cafe-and-bar</string>
	<key>STORAGE_BUCKET</key>
	<string>qads-cafe-and-bar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017654581310:ios:6a1d37745f2d45bc1bd96f</string>
</dict>
</plist>